.lesson_myitalic {
    font-style: italic;
}

.lesson_2_myimg {
    width: 128px;
}

.black_box {
    border: 3px solid black;
}

.blue_box {
    border: 3px solid blue;
}

.green_box {
    border: 3px solid green;
}

.red_box {
    border: 3px solid red;
}
